form .lform {
  display: inline-block;
  width: 100px;
}
select {
	width: 60%;
	float: right;
	
}
textarea {
	width: 60%;
	
}
input{
	
}
.jumbotron#topo{
	font-size:12pt;
	background:#ffffff;
	border-radius: 0px;
}

.footer{
	background: black;	
	width: 100%;
	height: 20%;
	position: relative;
}
body{
	font-family: Lucida Calligraphy;
}
button{
	margin-right: 100px;
}