<!DOCTYPE html>
<hmtl>

  <head>
    <title>Login de Amdministradores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/validacao.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
    
  </head>

  <body id="font">
    <div class="container">
    
    
<form class="form-horizontal" action="{{ url_for('faz')}}" method="POST" id="aluga">
<fieldset>

<legend>Login de Administrador</legend>
<div class="form-group">

      <label class="control-label col-sm-2" for="nome">Nome:</label>
      <div class="col-sm-4">
        <input id="nome" type="text" class="form-control" name="nome" placeholder="Insira o nome">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="empresa">Empresa:</label>
      <div class="col-sm-4">
        <input id="empresa" type="text" class="form-control" name="empresa" placeholder="Insira o nome da Empresa">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="cep">Cep:</label>
      <div class="col-sm-4">
        <input id="cep" type="text" class="form-control" name="cep" placeholder="Insira o CEP">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="endereco">Endereço:</label>
      <div class="col-sm-4">
        <input id="endereco" type="text" class="form-control" name="endereco" placeholder="Insira o Endereço">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="telefone">Telefone:</label>
      <div class="col-sm-4">
        <input id="telefone" type="text" class="form-control" name="telefone" placeholder="(xx)xxxx-xxxx">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">E-mail:</label>
      <div class="col-sm-4">
        <input id="email" type="email" class="form-control" name="email" placeholder="Insira o e-mail">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="password">Senha:</label>
      <div class="col-sm-4">
        <input id="password" type="password" class="form-control" name="password" placeholder="Insira a senha">
      </div>
    </div>

<br><br>
  <div class="form-group">
  <div class="col-md-3 control-label">
  <button type="button" class="btn btn-default" onclick="validar_ideia();">Enviar</button>
  </div>
  </div>

</fieldset>

</form>
</body>
</html>