<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<title>Lista de Clientes</title>
	</head>
	<body>
		<h1>Lista de Clientes</h1>
		<hr>
		<table border="2">
			<tr>
				<td>ID</td>
				<td>Nome</td>
				<td>Telefone</td>
				<td>CPF</td>
				<td>E-mail</td>
				<td>Excluir</td>
				<td>Editar</td>
			</tr>
			{% for pessoa in pessoas %}
			<tr>
				<td>{{ pessoa._id }}</td>
				<td>{{ pessoa.nome }}</td>
				<td>{{ pessoa.telefone }}</td>
				<td>{{ pessoa.cpf }}</td>
				<td>{{ pessoa.email }}</td>
				<td><a href="/excluir/{{ pessoa._id }}"><center>X</center></td>
				<td><a href="/atualizar/{{ pessoa._id }}"><center>Editar</center></td>
			</tr>
			{% endfor %}
		</table><br>
		<a href="/index">Voltar</a>

	</body>
</html>