<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/estilo.css">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<script src="static/js/validacao.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="static/js/bootstrap.min.js"></script>
		<title>Consulere</title>
	</head>
		<body>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Teste</a>						
					</div>
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('teste')}}">Registros</a></li>
						<li><a href="{{ url_for('ideiasteste')}}">Idéias</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<div class="col-sm-4 col-md-4">
        					<form class="navbar-form" role="search">
        						<div class="input-group">
            						<input type="text" class="form-control" placeholder="Procurar" name="q">
            							<div class="input-group-btn">
                							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            							</div>
        						</div>
        					</form>
    					</div>					
					</ul>
				</div>
				
			</nav>
			
		</body>
</html>