<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<title>Lista de Registro</title>
	</head>
	<body>
		<h1>Lista de Resgistro</h1>
		<hr>
		<table border="2">
			<tr>
				<td>ID</td>
				<td>Nome</td>
				<td>Empresa</td>
				<td>Telefone</td>
				<td>E-mail</td>
				<td>Excluir</td>
				<td>Editar</td>
			</tr>
			{% for registro in registros %}
			<tr>
				<td>{{ registro._id }}</td>
				<td>{{ registro.r_nome }}</td>
				<td>{{ registro.r_empresa }}</td>
				<td>{{ registro.r_telefone }}</td>
				<td>{{ registro.r_email }}</td>
				<td><a href="/excluir/{{ registro._id }}"><center>X</center></td>
				<td><a href="/atualizar/{{ registro._id }}"><center>Editar</center></td>
			</tr>
			{% endfor %}
		</table><br>
		<a href="/home">Voltar</a>

	</body>
</html>